{% extends "base.html" %}

{% block title %}Dashboard{% endblock %}

{% block content %}
<div class="row">
    <div class="col-lg-6 mb-4">
        <a href="/players" class="text-decoration-none">
            <div class="card bg-primary text-white shadow">
                <div class="card-body">
                    Players
                    <div class="text-white-50 small">Manage all your players</div>
                </div>
            </div>
        </a>
    </div>
    <div class="col-lg-6 mb-4">
        <a href="/games" class="text-decoration-none">
            <div class="card bg-success text-white shadow">
                <div class="card-body">
                    Games
                    <div class="text-white-50 small">Track game performance</div>
                </div>
            </div>
        </a>
    </div>
</div>
{% endblock %}
